@font-face {
  font-family: Orkney;
  src: url(fonts/orkney-bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Orkney;
  src: url(fonts/orkney-medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Orkney;
  src: url(fonts/orkney-regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Orkney;
  src: url(fonts/orkney-light.otf);
  font-weight: 300;
}

@font-face {
  font-family: Recoleta-Alt;
  src: url(fonts/Recoleta-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Recoleta-Alt;
  src: url(fonts/Recoleta-Medium.ttf);
  font-weight: 500;
}

:root {
  --brand-color: #1e686c;
  --dark-grey: #5d5d5d;
  --dark-yellow: #f9a604;
  --darker-grey: #323232;
  --darkest-grey: #272727;
  --white: #ffffff;
  --background-grey: #f1f0ff;
  --background-bluish-grey: #faffff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
  background-color: var(--white);
  margin-bottom: 2rem;
}

header i {
  font-size: 2rem;
  color: var(--brand-color);
  font-weight: lighter;
}

header .hide {
  display: none;
}

header .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  z-index: 5;
}

header .main-nav .main-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

header .main-nav .main-nav__items .close {
  position: absolute;
  top: 2.2rem;
  right: 1rem;
}

header .main-nav .main-nav__items li a {
  color: var(--dark-grey);
}

header .main-nav .main-nav__items li a:hover,
header .main-nav .main-nav__items li a:active {
  color: var(--brand-color);
}

header .main-nav .main-nav__items .highlighted-nav__item a {
  color: var(--brand-color);
}

header .main-nav .log-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

header .main-nav .log-actions .log-in a {
  color: var(--brand-color);
}

header .main-nav .log-actions .register-agent {
  color: var(--brand-color);
  border: none;
  cursor: pointer;
}

.backdrop {
  display: none;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 104, 108, 0.3);
}

.travel {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  position: relative;
  padding-bottom: 3rem;
}

.travel .travel-annotation {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.travel .travel-annotation h2 {
  font-family: Recoleta-Alt;
  line-height: 32px;
  font-size: 30px;
  font-weight: 600;
}

.travel .travel-annotation div p {
  margin-bottom: 1rem;
  font-family: Orkney;
  font-weight: 400;
  color: var(--dark-grey);
  font-size: 18px;
}

.travel .travel-annotation div button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--dark-yellow);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-family: Orkney;
  font-weight: 500;
  color: var(--darkest-grey);
  cursor: pointer;
}

.travel .travel-annotation div button:hover,
.travel .travel-annotation div button:active {
  background-color: rgba(249, 166, 4, 0.7);
}

.travel .travel-image {
  margin: 0 auto;
  position: relative;
}

.travel .travel-image img {
  width: 300px;
}

.travel .travel-image .shapes-mobile {
  position: absolute;
  top: -2.5rem;
  left: 9rem;
}

.travel .travel-image .shapes-mobile img {
  width: 170px;
}

.travel .shapes {
  display: none;
}

.travel .travel-agent {
  position: absolute;
  bottom: -3rem;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: var(--brand-color);
  font-size: 12px;
  font-family: Orkney;
}

.travel .travel-agent .agent-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--white);
}

.travel .travel-agent .agent-details .name-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.travel .travel-agent .agent-details .name-location .agent-name {
  font-weight: 300;
}

.travel .travel-agent .agent-details .name-location .agent-location {
  font-weight: 400;
}

.travel .travel-agent .agent-details .name-location .agent-location span img {
  height: 0.5rem;
}

.travel .travel-agent .agent-details .agent-company {
  font-weight: 500;
}

.travel .travel-agent .agent-details .star-rating img {
  height: 1rem;
}

.travel .travel-agent .agent-picture {
  height: 5.5rem;
}

.travel .travel-agent .agent-picture img {
  height: 100%;
}

.reasons {
  padding-top: 7rem;
  background-color: var(--background-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
}

.reasons .reasons-annotation {
  text-align: center;
  margin: 0 auto;
}

.reasons .reasons-annotation h2 {
  font-family: Recoleta-Alt;
  font-weight: 600;
  color: var(--brand-color);
  font-size: 24px;
}

.reasons .reasons-annotation p {
  margin-top: 1rem;
  font-family: Orkney;
  font-weight: 400;
  color: var(--darker-grey);
}

.reasons .reasons-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  font-family: Orkney;
}

.reasons .reasons-cards .reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  background-color: var(--white);
  padding: 2.5rem;
  border-radius: 1rem;
  width: 90%;
  margin: 0 auto;
}

.reasons .reasons-cards .reason .agents-icon {
  width: 5rem;
}

.reasons .reasons-cards .reason div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.reasons .reasons-cards .reason div a {
  color: var(--brand-color);
}

.reasons .reasons-cards .reason div a:hover,
.reasons .reasons-cards .reason div a:active {
  color: rgba(30, 104, 108, 0.7);
}

.reasons .reasons-cards .reason div img {
  height: 1rem;
  cursor: pointer;
}

.destinations {
  padding: 3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  font-family: Orkney;
}

.destinations .destination-annotation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destinations .destination-annotation div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
}

.destinations .destination-annotation div:nth-of-type(1) h3 {
  color: var(--brand-color);
  font-family: Recoleta-Alt;
  font-weight: 600;
  font-size: 24px;
}

.destinations .destination-annotation div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.destinations .destination-annotation div:nth-of-type(2) img {
  height: 2rem;
  cursor: pointer;
}

.destinations .countries {
  max-width: 83vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
  margin: 0 auto;
  overflow-x: auto;
}

.destinations .countries .country {
  position: relative;
  left: 0;
}

.destinations .countries .country img {
  width: 190px;
}

.destinations .countries .country .location-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destinations .countries .country .location-details div h5 {
  font-size: 11px;
}

.destinations .countries .country .location-details div p {
  font-size: 11px;
}

.destinations .countries .country .location-details img {
  width: 1rem;
  cursor: pointer;
}

.destinations .countries::-webkit-scrollbar {
  display: none;
}

.best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 3rem 1rem;
  gap: 2rem;
  text-align: center;
}

.best img {
  width: 300px;
  margin: 0 auto;
}

.best div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.best div h2 {
  color: var(--brand-color);
  font-family: Recoleta-Alt;
  font-weight: 600;
  font-size: 24px;
}

.best div p {
  font-family: Orkney;
  font-weight: 400;
  color: var(--darker-grey);
}

.explore {
  padding: 3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 2rem;
  background-color: var(--background-bluish-grey);
}

.explore div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.explore div h2 {
  font-family: Recoleta-Alt;
  font-weight: 600;
  color: var(--brand-color);
  font-size: 24px;
}

.explore div p {
  font-family: Orkney;
  font-weight: 400;
  color: var(--darker-grey);
}

.explore div button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--dark-yellow);
  border: none;
  font-size: 1rem;
  margin: 0 auto;
  font-family: Orkney;
  font-weight: 500;
  color: var(--darkest-grey);
  cursor: pointer;
}

.explore div button span {
  width: 1rem;
}

.explore div button span .explore-arrow {
  width: 100%;
}

.explore div button:hover,
.explore div button:active {
  background-color: rgba(249, 166, 4, 0.7);
}

.explore img {
  margin: 0 auto;
  width: 300px;
}

.customer-support {
  padding: 3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 2rem;
  text-align: center;
}

.customer-support img {
  margin: 0 auto;
  width: 300px;
}

.customer-support div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.customer-support div h2 {
  font-family: Recoleta-Alt;
  font-weight: 600;
  color: var(--brand-color);
  font-size: 24px;
}

.customer-support div p {
  font-family: Orkney;
  font-weight: 400;
  color: var(--darker-grey);
}

.customer-support div button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--dark-yellow);
  border: none;
  font-size: 1rem;
  margin: 0 auto;
  font-family: Orkney;
  font-weight: 500;
  color: var(--darkest-grey);
}

.clients-saying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 3rem 1rem;
  text-align: center;
}

.clients-saying h2 {
  font-family: Recoleta-Alt;
  font-weight: 600;
  color: var(--brand-color);
  font-size: 24px;
}

.clients-saying img {
  margin: 0 auto;
  width: 90%;
}

.get-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 2rem;
  padding: 3rem 1rem;
  background-color: var(--background-bluish-grey);
}

.get-app div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.get-app div h2 {
  font-family: Recoleta-Alt;
  font-weight: 600;
  color: var(--brand-color);
  font-size: 24px;
}

.get-app div p {
  font-family: Orkney;
  font-weight: 400;
  color: var(--darker-grey);
}

.get-app div .app-platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.get-app div .app-platform img {
  width: 8rem;
  margin: 0 auto;
}

.get-app img {
  width: 300px;
  margin: 0 auto;
}

.newsletter {
  padding: 3rem 1rem;
}

.newsletter .newsletter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background-color: var(--brand-color);
  padding: 2rem 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.newsletter .newsletter-content .ellipse-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.5rem;
  z-index: -1;
}

.newsletter .newsletter-content div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  color: var(--white);
}

.newsletter .newsletter-content div:nth-of-type(1) h2 {
  font-family: Orkney;
  font-weight: 400;
}

.newsletter .newsletter-content div:nth-of-type(1) p {
  font-family: Orkney;
  font-weight: 300;
}

.newsletter .newsletter-content div:nth-of-type(2) {
  background: var(--white);
  width: 85%;
  margin: 0 auto;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Orkney;
  font-weight: 400;
}

.newsletter .newsletter-content div:nth-of-type(2) input {
  border: none;
  width: 70%;
}

.newsletter .newsletter-content div:nth-of-type(2) button {
  border: none;
  background-color: var(--dark-yellow);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.newsletter .newsletter-content .ellipse-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7.5rem;
  z-index: -1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  padding-bottom: 2rem;
  font-family: Orkney;
  color: var(--dark-grey);
}

footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

footer .footer-items .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

footer .footer-items .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

footer .footer-items .social-media .social-media__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

footer .footer-items .social-media .social-media__icons img {
  height: 3rem;
}

footer .footer-items .footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-items .footer-main .first-item {
  color: var(--brand-color);
}

footer .footer-items .footer-main p {
  font-size: 14px;
}

footer .copyright {
  text-align: center;
}

@media screen and (max-width: 764px) {
  header {
    padding: 2rem 1rem;
  }
  header .main-nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    padding-top: 35px;
    width: 53vw;
    height: 100%;
    background-color: var(--white);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  header .main-nav .main-nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .main-nav .main-nav__items .main-nav__item a {
    font-family: Orkney;
  }
  header .main-nav .main-nav__items .highlighted-nav__item {
    font-weight: 700;
  }
  header .main-nav .log-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-family: Orkney;
    font-weight: 400;
  }
  header .main-nav .log-actions .register-agent {
    background: none;
    padding: 0;
  }
}

@media screen and (min-width: 764px) {
  header .hamburger {
    display: block;
  }
  header .main-nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3rem;
    padding-top: 1rem;
    width: 53vw;
    height: 100%;
    background-color: var(--white);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  header .main-nav .main-nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .main-nav .main-nav__items .close {
    display: block;
  }
  header .main-nav .main-nav__items .main-nav__item {
    margin-top: 2rem;
  }
  header .main-nav .main-nav__items .main-nav__item a {
    font-family: Orkney;
  }
  header .main-nav .main-nav__items .highlighted-nav__item {
    font-weight: 700;
  }
  header .main-nav .log-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-family: Orkney;
    font-weight: 400;
    gap: 2rem;
  }
  header .main-nav .log-actions .register-agent {
    background: none;
    padding: 0;
  }
  main .travel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3rem;
    padding-bottom: 7rem;
    padding-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  main .travel .travel-annotation {
    text-align: left;
    width: 45%;
  }
  main .travel .travel-agent {
    bottom: 1rem;
  }
  main .travel .travel-image img {
    width: 350px;
  }
  main .travel .travel-image .shapes-mobile {
    display: none;
  }
  main .travel .shapes {
    display: block;
    position: absolute;
    left: 35%;
    top: 1rem;
    height: 200px;
  }
  main .travel .shapes img {
    height: 100%;
  }
  main .travel .travel-agent {
    bottom: -1rem;
    left: 6rem;
  }
  main .reasons .reasons-annotation {
    width: 60%;
  }
  main .reasons .reasons-cards {
    padding: 3rem;
  }
  main .reasons .reasons-cards .reason {
    width: 45%;
  }
  main .destinations {
    padding: 4rem;
  }
  main .destinations .countries .country {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  main .destinations .countries .country:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main .best {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem;
    gap: 5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main .best img {
    width: 350px;
  }
  main .best div {
    text-align: left;
    width: 45%;
  }
  main .explore {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 5rem;
  }
  main .explore div {
    text-align: left;
    width: 50%;
  }
  main .explore div button {
    margin: 0;
  }
  main .explore img {
    width: 300px;
  }
  main .customer-support {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .customer-support div {
    text-align: left;
    width: 50%;
  }
  main .customer-support div button {
    margin: 0;
  }
  main .customer-support img {
    width: 300px;
    margin: 0;
  }
  main .get-app {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 4rem;
  }
  main .get-app div {
    text-align: left;
  }
  main .get-app .app-platform {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main .newsletter {
    padding: 0 4rem;
  }
  footer {
    margin-top: 5rem;
    padding: 0 4rem;
  }
  footer .footer-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1120px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
    font-family: "Orkney", sans-serif;
  }
  header .header-logo {
    cursor: pointer;
  }
  header .hamburger {
    display: none;
  }
  header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4rem;
  }
  header .main-nav .close {
    display: none;
  }
  header .main-nav .main-nav__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
  header .main-nav .main-nav__items .main-nav__item {
    margin-top: 0;
  }
  header .main-nav .main-nav__items .main-nav__item a {
    color: var(--dark-grey);
    font-weight: medium;
  }
  header .main-nav .main-nav__items .highlighted-nav__item a {
    color: var(--brand-color);
    font-weight: bold;
  }
  header .main-nav .log-actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .main-nav .log-actions .log-in a {
    color: var(--brand-color);
    font-weight: medium;
  }
  header .main-nav .log-actions .register-agent {
    color: var(--white);
    font-weight: medium;
    padding: 0.5rem;
    background-color: var(--brand-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  header .main-nav .log-actions .register-agent:hover,
  header .main-nav .log-actions .register-agent:active {
    background-color: rgba(30, 104, 108, 0.7);
  }
  main .travel .travel-annotation h2 {
    font-size: 3rem;
    line-height: 1.25;
  }
  main .travel .travel-annotation p {
    font-size: 1.5rem;
  }
  main .travel .shapes {
    height: 300px;
    top: 0;
  }
  main .travel .travel-image img {
    width: 550px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  main .reasons .reasons-cards .reason {
    width: 30%;
  }
  main .destinations .countries .country img {
    width: 250px;
  }
  main .destinations .countries .country .location-details div h5 {
    font-size: 14px;
  }
  main .destinations .countries .country .location-details div p {
    font-size: 12px;
  }
  main .best {
    padding: 3rem 8rem;
  }
  main .best img {
    width: 400px;
  }
  main .explore {
    padding: 3rem 10rem;
  }
  main .explore img {
    width: 400px;
  }
  main .customer-support {
    padding: 3rem 10rem;
    gap: 7rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .customer-support img {
    margin: 0;
    width: 400px;
  }
  main .customer-support div {
    width: 50%;
  }
  main .clients-saying {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  main .clients-saying img {
    width: 70%;
  }
  main .get-app {
    padding: 3rem 10rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .get-app div {
    width: 45%;
  }
  main .newsletter {
    padding: 0 10rem;
  }
  main .newsletter .newsletter-content div:nth-of-type(2) button {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  footer {
    padding: 0 10rem;
  }
  footer .footer-items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 5rem;
  }
}
/*# sourceMappingURL=styles.css.map */